# Docs https://editorconfig-specification.readthedocs.io/en/latest/#supported-pairs
# top-most EditorConfig file
root = true

# general rules for all files
[*]
charset = utf-8
end_of_line = lf

# The specific rules below are switches in case we need to turn something off
# i.e. trim_trailing_whitespace on markdown files
# specific rules for yaml or yml files
# [*.y{a,}ml}]
# indent_size = 2

# specific rules for markdown
[*.md]
# indent size did not play well with rewriting files
# indent_size = 4
indent_style = space
trim_trailing_whitespace = false
insert_final_newline = true
