#############################
### Provenance Implementation
# Please refrain from adding more code owners than is
# explicitly necessary for a project, as this requires 
# a TAG Security lead to manually add new code owners

provenance-implementation/argo/argo-cd.md @crenshaw-dev

### End Provenance Implementation
#################################
