# CODEOWNERS file indicates code owners for certain files
#
# Code owners will automatically be added as a reviewer for PRs that touch
# the owned files.
#
# The master branch will be configured to require at least 1 approval from a 
# code owner for a PR.

# Global code owners: co-chairs, tech leads
# Note: Tech leads can perform approval and merging of PRs, with the intent
# of delegating some responsibilities from co-chairs. 
#
# Tech lead, Chair Emeritus roles should exercise discretion in defering final
# approval for a PR to a co-chair. 
# This includes major edits or new introductions to the repository.
*       @ultrasaurus @dshaw @pragashj @lumjjb @TheFoxAtWork @JustinCappos @achetal01 @ashutosh-narkar @anvega

# README.md Owners
/README.md @ultrasaurus @dshaw @pragashj @lumjjb @TheFoxAtWork @JustinCappos @achetal01 @ashutosh-narkar @anvega

# Security assessments
/assessments/ @JustinCappos @ultrasaurus @pragashj @TheFoxAtWork

# Supply Chain
/supply-chain-security/ @SantiagoTorres @ultrasaurus @pragashj @TheFoxAtWork

# Policy related (TODO: Approval required by PR)
# /policy/ @hannibalhuang @ericavonb @rficcaglia @ultrasaurus @pragashj @TheFoxAtWork
