
@value primary: #152356;
@value tertiary: #389BB2;
@value accent: #D81637;

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer img {
  margin-left: 0.5rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  font-size: 1.5rem;
  color: primary;
  margin: 0;
}

.title,
.description {
  text-align: center;
  color: primary
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin:-1rem;
  padding: 0;
}

.cardContainer >*{margin:1rem}

.container {
  margin:0 auto;
  padding-left: 1rem;
}

.category {
  margin-top: 2rem;
  border: 1px solid rgb(148, 180, 192);
  border-radius: 5px;
  padding-left: 1rem;
  padding-right: 1rem;
}

.content {
  list-style: none;
  padding-left: 0;
}

.ul {
  list-style: none;
  padding-left: 0;
}
.subtree_ul {
  list-style: none;
  padding-left: 1rem;
}
.sidenav {
  width: 20%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.sidebar_fixed {
  margin-top: 0px;
  padding: 5px 18px;
  position: fixed;
  width: 14rem;
  height: 100%;
  top: 0;
  left: 0;
  background: #b1b1b181;
  z-index: 1500;
}

.main_content {
  margin-left: 14rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.collapsed .submenu {
  height: 0;
  overflow: hidden;
}

.secondary {
  color: #4A6CA4;
}

