figure {
	-webkit-margin-before: 0;
	margin-block-start: 0;
	-webkit-margin-after: 0;
	margin-block-end: 0;
	-webkit-margin-start: 0;
	-moz-margin-start: 0;
	margin-inline-start: 0;
	-webkit-margin-end: 0;
	-moz-margin-end: 0;
	margin-inline-end: 0;
}
