// Search form.
.td-sidebar__search {
	background-color: transparent;
	@media (max-width: 767px) {
		margin-top: 1rem;
	}
	@media (min-width: 768px) {
		padding-top: 0.5rem !important;
		padding-left: 1.5rem;
		padding-right: 1rem;
		padding-bottom: 1rem;
	}
	@media (min-width: 1300px) {
		padding-left: 2.5rem;
	}
	.add-search-icon {
		position: relative;
		width: 100%;
		@media (max-width: 767px) {
			margin-bottom: 10px;
		}
		@media (min-width: 768px) {
			width: calc(100% - 20px);
		}
		svg {
			position: absolute;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
			pointer-events: none;
			height: 21px;
			@media (min-width: 992px) {
				height: 24px;
				transform: translateY(-60%);
			}
		}
		.td-search-input {
			border: none;
			border-bottom: $black 2px solid;
			border-radius: 0;
			background-color: transparent;
			box-shadow: none;
			line-height: 1;
			color: $black;
			font-weight: 300;
			font-size: 16px;
			padding-top: 5px;
			padding-bottom: 5px;
			padding-right: 0;
			padding-left: calc(20px + 20px);
			@media (min-width: 768px) {
				padding-left: 30px;
				font-size: 20px;
			}
			@media (min-width: 992px) {
				padding-left: 35px;
			}
			@media (min-width: 1100px) {
				padding-left: calc(20px + 20px);
				font-size: 20px;
			}

			&::placeholder {
				@media (min-width: 768px) {
					line-height: 1;
					color: $black;
				}
				@media (min-width: 1100px) {
					font-size: 20px;
				}
			}
			&:focus {
				background-color: transparent;
				border-bottom: $black 2px solid;
			}
		}
	}
}


.pagefind-ui__result-link {
	color: $link-color !important;
}
.pagefind-ui__search-clear {
	padding-left: 20px !important;
	padding-right: 20px !important;
}
#search {
	margin-top: 40px;
}