// Render the video player as big as possible while retaining the aspect ratio
// https://stackoverflow.com/a/35153397
.video {
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 56.25%; /* The height of the item will now be 56.25% of the width. */
	margin-bottom: 1em;

	iframe {
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
	}
}

// Stop the RSS button being absolute.
.td-blog .td-rss-button {
	position: static;
	top: unset;
	right: unset;
	z-index: unset;
	&:hover {
		background-color: $primary-300;
		color: $white;
	}
}

// Highlights a set of videos at /videos
.featured {
	background-color: $light;
}

.video-resources a {
	font-weight: bold;
}
